.container{
    text-align: center;
    margin-top: 2rem;
    

}
table{
    margin: auto;
}
button{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 25%;
    color: brown;
    background: lightskyblue;
}
#screen{
    border-radius: 10px;
    width: 14rem;
    height: 2rem;
    font-size: 2rem;
    border: 2px solid rgba(119, 8, 8, 0.541);
}
.main{
    padding: 20px;
    border-radius: 2rem;
    display: inline-block;
    background: rgb(119, 77, 83);
    border: 2px solid lightpink ;
}